name: "DEV DEPLOY"

on:
  push:
    branches:
      - develop

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: dev
      aws-assume-role-arn: "arn:aws:iam::445567090747:role/github-actions-jrmreis-ci-cd"
      aws-region: "us-east-1"
      aws-statefile-s3-bucket: "jrmreis-us-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "jrmreis-us-east-1-terraform-lock"